<% /* http://paulirish.com/2009/bulletproof-font-face-implementation-syntax/ */ %>
@font-face {
  font-family: 'Graublau Web';
  src: url('GraublauWeb.eot');
  src: local('Graublau Web Regular'), local('Graublau Web'),
         url('GraublauWeb.otf') format('opentype');
}</pre>
<h4 id="smiley">Bulletproof @font-face: Smiley variation</h4>
<pre lang="css">@font-face {
  font-family: 'Graublau Web';
  src: url('GraublauWeb.eot');
  src: local('?'),
         url('GraublauWeb.otf') format('opentype');
}
