<!doctype html>
<p>howdy stranger!
<p>this is a little app to test bulletproofy @font-face CSS syntaxes on a range of browsers.

<ul>syntaxes currently available for testing:
  <li><a href="/bulletproof">bulletproof</a>: the original @paul_irish joint, 4 Sept 2009. <a href="http://paulirish.com/2009/bulletproof-font-face-implementation-syntax/">orig article</a>
  <li><a href="/mo-bulletproofer">mo' bulletproofer</a>: a follow-on. 15 Sept 2009. <a href="http://readableweb.com/mo-bulletproofer-font-face-css-syntax/">orig article</a>.
  <li><a href="/fontspring">fontspring</a>: from the beautiful minds who brought us fontsquirrel. 3 Feb 2011, revised 21 Feb 2011. <a href="http://www.fontspring.com/blog/further-hardening-of-the-bulletproof-syntax">orig article</a>.
  <li><a href="/connect-fonts">connect-fonts</a>: an accidental maybe-discovery that seems to enable local() @font-face URLs on Android 2.2. No article written on this topic yet ;-)
</ul>
<pre><code>
TODO actually summarize what differs in these bulletproof syntaxes, so the user doesn't have to visit the links to gain context.
TODO add endpoints for *just* serving one of the font files: an endpoint each for woff, eot, ttf, svg, just to show we need to combine 'em.</code></pre>

