<!doctype html>
<style>
<%= stylez %>
</style>
<style>
body {
    font-size: 14px;
    font-family: "Open Sans", "sans-serif";
}
h1 {
    font-weight: normal;
    font-size: 24px;
}
</style>
<h1>are you there fonty? it's me, <%= name %>.</h1>

<p><a href="/">go back home</a>

<p>here is the @font-face syntax on this page:
<pre><code><%= stylez %></code></pre>
